* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  font-family: "Cabin", sans-serif;
}

a {
  text-decoration: none;
}

body,
a {
  color: white;
}

.bold {
  font-weight: 700;
}

.first-section {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-section__image-container {
  position: relative;
}

.first-section__image {
  width: 316px;
  opacity: 0.65;
}

.first-section__name {
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.first-section__description-container {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #dbdbdb;
}

.first-section__name .red-gradient {
  text-shadow: unset;
}

.second-section {
  overflow: hidden;
  padding: 64px 0;
}

.second-section__description {
  text-align: center;
  padding: 0 24px;
  font-size: 16px;
  line-height: 28px;
}

@keyframes companies {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1550px);
  }
}

.second-section__images-container {
  display: flex;
  gap: 72px;
  margin: 60px 0;
  will-change: transform;
  animation: companies 20s linear infinite;
}

.second-section__images-container:hover {
  animation-play-state: paused;
}

.second-section_logo-link {
  display: flex;
  align-items: center;
}

.second-section__cv-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: block;
}

.second-section__cv-link-icon {
  transition: transform 0.1s ease;
}

.second-section__cv-link:hover .second-section__cv-link-icon {
  transform: translateX(1px);
}

.second-section__cv-link-icon,
.links-section__read-all-link-icon {
  margin-left: 8px;
  width: 20px;
  height: 15px;
}

.blue-gradient {
  background: linear-gradient(126deg, #68d0ee 0%, #ffbdb2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.red-gradient {
  background: linear-gradient(108deg, #f5b03e 0%, #f53ec2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 30px rgba(250, 115, 111, 0.7);
}

.second-section__heading {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 700;
  padding-top: 64px;
}

.links-section,
.fifth-section,
.third-section {
  padding: 64px 24px;
}

.links-section__heading,
.fourth-section__heading {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}

.links-section__sub-heading,
.fourth-section__sub-heading {
  padding-top: 12px;
  font-size: 18px;
  line-height: 22px;
}

.fourth-section__testimonials {
  height: 550px;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

@keyframes testimonials {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.fourth-section__images-container {
  animation: testimonials 45s linear infinite;
}

.fourth-section__images {
  display: block;
  margin: auto;
  width: 100%;
}

.top-fade {
  position: absolute;
  height: 40px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #0b0d0f 0%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 0;
}

.bottom-fade {
  position: absolute;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #0b0d0f 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 40px;
  width: 100%;
  bottom: 0;
}

.card {
  display: block;
  margin-top: 40px;
  border-bottom: 2px solid rgb(130, 130, 130, 0.2);
}

.card__img-container {
  transition: transform 0.1s ease;
}

.card:hover .card__img-container {
  transform: translateX(1px);
}

.card__first-row {
  height: 40px;
  display: flex;
  align-items: center;
}

.card__second-row {
  display: flex;
  justify-content: space-between;
}

.card__primary-text {
  font-size: 16px;
  line-height: 28px;
  flex: 1;
  padding-bottom: 16px;
}

.card__secondary-text {
  font-size: 14px;
  line-height: 17px;
  color: rgba(219, 219, 219, 0.6);
}

.card__img-container {
  display: flex;
  align-items: flex-end;
  width: 28px;
  padding-bottom: 24px;
  margin-left: 56px;
}

.card__img,
.card__img--hovered {
  width: 100%;
}

.card__img--hovered,
.card:hover .card__img {
  display: none;
}

.card:hover .card__img--hovered {
  display: block;
}

.links-section__read-all-link-container {
  margin-top: 40px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.third-section__heading {
  font-size: 16px;
  line-height: 19px;
}

.third-section__points-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 28px;
}

.third-section__point {
  display: flex;
  align-items: center;
}

.third-section__point-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-shadow: unset;
}

.third-section__point-img {
  width: 18px;
  margin-right: 16px;
}

.fourth-section {
  padding: 64px 0;
}

.fourth-section__heading,
.fourth-section__sub-heading {
  padding-left: 24px;
  padding-right: 24px;
}
.fifth-section__heading {
  font-size: 16px;
  line-height: 19px;
}
.fifth-section__sub-heading {
  margin-top: 8px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: -2px;
}

.fifth-section__lets-talk {
  margin-top: 32px;
  font-size: 16px;
  line-height: 32px;
}

.fifth-section__email {
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
  font-weight: 700;
  display: block;
}

.fifth-section__social-container {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}

.fifth-section__social-container img {
  transition: transform 0.1s ease;
}

.fifth-section__social-container img:hover {
  transform: translateY(-1px);
}

.desktop-only {
  display: none;
}

@media (min-width: 992px) {
  @keyframes companies {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-1718px);
    }
  }

  .mob-only {
    display: none;
  }

  .desktop-only {
    display: unset;
  }

  .first-section__name {
    font-weight: 700;
    font-size: 140px;
    line-height: 170px;
    letter-spacing: -2px;
  }

  .first-section__image {
    width: 444px;
  }

  .first-section__description-container {
    margin-top: 20px;
    font-size: 28px;
    line-height: 48px;
  }

  .second-section {
    padding: 120px;
  }

  .second-section__images-container {
    gap: 100px;
  }

  .links-section,
  .fifth-section,
  .third-section {
    padding: 120px;
  }

  .second-section__description {
    max-width: 1180px;
    padding: 0;
    margin: auto;
    font-size: 28px;
    line-height: 52px;
    text-align: left;
  }

  .second-section__heading {
    font-size: 40px;
    line-height: 49px;
  }

  .second-section__images-container {
    margin: 92px 0;
  }

  .second-section__cv-link {
    font-size: 26px;
    line-height: 32px;
  }

  .second-section__cv-link-icon,
  .links-section__read-all-link-icon {
    margin-left: 16px;
    width: 32px;
    height: 23px;
  }

  .links-section > *,
  .third-section > *,
  .fifth-section > *,
  .fourth-section__images-container,
  .fourth-section__heading,
  .fourth-section__sub-heading {
    max-width: 1200px;
    margin-inline: auto;
  }

  .links-section__heading {
    font-size: 80px;
    line-height: 97px;
  }

  .links-section__sub-heading {
    font-size: 40px;
    line-height: 49px;
    padding-top: 24px;
    padding-bottom: 8px;
  }

  .card {
    margin-top: 80px;
    max-width: 960px;
    margin-left: auto;
  }

  .card__secondary-text {
    font-size: 26px;
    line-height: 32px;
  }

  .card__primary-text {
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 40px;
  }

  .card__img-container {
    width: 44px;
    padding-bottom: 44px;
    margin-left: 30px;
  }

  .third-section__heading {
    font-size: 28px;
    line-height: 48px;
  }

  .third-section__points-container {
    gap: 44px;
    margin-top: 44px;
  }

  .third-section__point-text {
    font-size: 36px;
    line-height: 44px;
  }

  .third-section__point-img {
    width: 36px;
    margin-right: 20px;
  }

  .links-section__read-all-link-container {
    font-size: 26px;
    line-height: 32px;
    justify-content: flex-end;
    margin-top: 80px;
  }

  .fourth-section {
    padding: 0;
  }

  .fourth-section__text {
    padding: 120px 120px 0;
  }

  .fourth-section__heading,
  .fourth-section__sub-heading {
    padding-inline: 0;
  }

  .fourth-section__heading {
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
  }

  .fourth-section__sub-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
  }

  .top-fade {
    height: 154px;
    background: linear-gradient(
      180deg,
      #000000 12.39%,
      #0b0d0f 12.39%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .bottom-fade {
    height: 154px;
    background: linear-gradient(
      180deg,
      #000000 12.39%,
      #0b0d0f 12.39%,
      rgba(0, 0, 0, 0) 100%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .fourth-section__images-container {
    max-width: min(1440px, 100vw);
  }

  .fourth-section__testimonials {
    height: 908px;
  }

  .fifth-section__heading {
    font-size: 28px;
    line-height: 48px;
  }

  .fifth-section__sub-heading {
    font-size: 80px;
    line-height: 100px;
  }
}
